html{

}

body{
    background-color: silver;
}

header{
    max-width: 1024px;
    margin:auto;
    background-color: black;
    color:snow;
}

#maincontainer{
    margin:auto;
    background-color: black;
    max-width: 1024px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

#data{
    grid-column: 1;
    grid-row: 1;
    background-color: brown;
    padding: 20px;
    min-width: 250px;
}

#selection{
    display:grid;
    grid-template-columns: 50% 50%;
}


#selection1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 60px;
    text-align: center;
}

#selection2{
    grid-column: 2;
    grid-row: 1;
    font-size: 60px;
    text-align: center;
}

#selection3{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    font-size: .6em;
}

#selection4{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: .6em;
}

i:hover{
    cursor:pointer;
}

#data input{
    margin-top: 10px;
    width: 100%;
}

ul{
    overflow: scroll;
    height: 320px;
    padding: 0;

}

li{
    list-style-type: none;
    background-color: rgba(30, 30, 30, .5);
    margin-bottom: 1px;
    color:snow;
    padding: 5px 10px;
    font-size: .9em;
    cursor:pointer;
}

#btn_save{
    color:#222;
    background-color: greenyellow;
    border-radius: 10px;
    padding: 5px 10px;;
    font-weight: 500;
    width:97%;
    cursor:pointer;
    margin-left: 8px;
    margin-top: 5px;
}

#btn_deleteContact{
    display:block;
    color:white;
    background-color: brown;
    border-radius: 10px;
    padding: 5px 10px;;
    font-weight: 500;
    width:97%;
    margin-left: 8px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

#addcontact, #addorganisation{
    color:#222;
    background-color: greenyellow;
    border-radius: 10px;
    padding: 5px 10px;;
    font-weight: 500;
    width:100%;
    cursor:pointer;
    margin-top:10px;
}



#info{
    grid-column: 2/6;
    grid-row: 1;
    background-color: snow;
    padding: 20px;
}

#info_title{
    color: brown;
    font-weight: 600;
    width:100%;
    text-align: center;
}

.input_field{
    padding: 5px;
    background-color: rgba(120, 50, 10, .1);
    color:#222;
    border:2px solid #222;
    border-radius: 5px;
    margin-left: 8px;
    margin-bottom: 10px;
    outline:none;
}

.input_field:focus{
    border: 2px solid brown;
}

select{
    width: 97%;
    height: 40px;
}


#fname, #address, #email, #oaddress, #oname{
    width: 47.5%;
}

#oemail{
    width: 23%;
}

#surname{
    width:47.5%;
}

#lbl_surname{
    margin-left: 258px;
}

#lbl_city, #lbl_ocity{
    margin-left: 278px;
}

#lbl_postcode, #lbl_opostcode{
    margin-left: 131px;
}

#lbl_wphone, #lbl_phone{
    margin-left: 296px;
}

#lbl_mphone{
    margin-left: 70px;
}

#city, #postcode, #wphone, #mphone, #ocity, #opostcode, #phone{
    width:22.8%;
}

textarea{
    background-color: rgba(120, 50, 10, .1);
    margin-left: 8px;
    margin-bottom: 10px;
    width: 97%;
    border: 2px solid #222;
    border-radius:5px;
    resize: none;
    padding: 5px;
    outline:none;
}

textarea:focus{
    border: 2px solid brown;
}

label{
    margin-left: 10px;
}

#success_placeholder{
    height: 20px;
    width: 100%;
    text-align: center;
    color: green;
}

